
body{
	top:0;
	left:0;
	width:100%;
	height:100%;
	margin:0;
  	/*transition: all 0.5s ease;*/

	font-family: "Lato", serif;

  animation: pulse 3s ;
}

@keyframes pulse {
  0% {
    background-color: #D7DF23;
  }
  100% {
    background-color: white;
  }
}

.banner img{
	width:100%;
	top:0px;
	left:0px;
	right:0px;
  position: relative;
}

.description {
	text-align:center;
	position:relative;
	text-transform:uppercase;
	width:80%;
	margin:0 auto;
	padding-top:2em;
	padding-bottom:10em;
}

.description h1{
    letter-spacing: 3px;
	text-align:center;
	position:relative;
	left:0px;
	right:0px;
	font-size:5em;
	color:#EF4136;
	margin:0 0 .3em 0;
	word-spacing:0.5em;
	padding-top:3%;

}

.description a{
	background-color:#D7DF23;
	color:white;
  	border-radius: 5px;
	padding:0.5em;
	font-size:1.5em;
	margin:2em;
	-webkit-transition: background-color 0.5s ease-out;
 	-moz-transition: background-color 0.5s ease-out;
 	-o-transition: background-color 0.5s ease-out;
 	transition: background-color 0.5s ease-out;
}
.description a:hover{
	background-color:white;
	color:#D7DF23;
}

.bottom {
	width:100%;
	position:fixed;
	height:5%;
	background-color:#414042;
	bottom:0px;
	left:0px;
	right:0px;
}
.bottom img{
	margin: auto;
    display: block;
	/*position:relative;*/
	max-width:50%;
	max-height:100%;
	float:none;
	top:0px;
	bottom: 0px;
	overflow:auto;
}

@import "compass/css3";

.flex-container {
  padding: 25px 0 0 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  align-items:center;
}

.flex-item {
  background: #f26422;
  padding: 10px;
  /*width: 30%;*/
  /*min-width:300px;*//*
  max-width:400px;*/
  	/*flex-grow: 2;*/
  /*height: 200px;*/
  margin: 10px;
  /*flex-shrink: 1 3; */
  color: white;
  /*font-weight: bold;*/
  font-size: 1.5em;
  text-align: center;
  flex: 1 100%;

  }

.flex-item.wide{
  flex: 2 0px; 
}
.flex-item.wide b {
	color: #D7DF23;
}
.flex-item.aside { 
	flex: 1 auto; 
	max-width:500px;
	/*max-height:300px;*/
}
  .flex-item p {
  	/*margin:0 auto;*/
  }
  .flex-item img {
  	margin:0 auto;
  	width:100%;
  }